@keyframes scroll-vertical {
  to {
    transform: translateY(-50%);
  }
}

.animate-scroll-vertical {
  animation: scroll-vertical var(--animation-duration, 40s) linear infinite;
  animation-direction: var(--animation-direction, forwards);
}